html {
  background-color: #E0E0E0;
}

h1 {
  color: #0000CC;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 38px;
  font-weight: 700;
}

p {
  color: #0080FF;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 18px;
  font-weight: 100;
}

h2 {
  color: #0000FF;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h3 {
  color: #004C99;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 26px;
  font-weight: 400;
}

li {
  color: #0080FF;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 18px;
  font-weight: 100;
}

th {
  color: #0080FF;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 17px;
  font-weight: 100;
}

td {
  color: #0080FF;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 100;
}

figcaption {
  color: #004C99;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 100;
}

dt {
  color: #0080FF;
  font-family: "Helvetica", "Arial",sans-serif;
  font-size: 17px;
  font-weight:100;
}

dd {
  color: #0080FF;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 100;
}
